@model XXEDotNetFrameworkTestWeb.Models.ProductModel

<h2>Create/Edit Product</h2>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)

    <div class="form-group">
        @Html.LabelFor(model => model.Name)
        @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Name)
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Description)
        @Html.TextBoxFor(model => model.Description, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Description)
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.ProductComment)
        @Html.TextBoxFor(model => model.ProductComment, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.ProductComment)
    </div>

    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-default" />
    </div>
}

@Html.ActionLink("Back to List", "Index")